@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Tamil:wght@100;300;400&display=swap');
body {
    margin:0;
    padding:0;
    background: #fff;
    font-family: 'Noto Sans Tamil', sans-serif;
}
button {
    border:2px solid #adadad;
    border-radius:4px;
    padding:8px;
    font-family: 'Noto Sans Tamil', sans-serif;
    margin:8px;
    transition:background 300ms, border 300ms;
    background:#d4d4d4;
}
button:hover {
    background:#adadad;
}
button:click {
    background:#353535;
    border-color:#353535;
}
h1 {
    font-weight:400;
}
#pages {
    height:30vw;
    font-size:larger;
    transition: height 300ms;
}
.level {
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
}

.inner {
    padding:0 2vw;
    position:relative;
    width:50vw;
    max-width:50vw;
    display:flex;
    justify-content: center;
}
#pages-outer {
    
    flex-direction: column;
}
.nuxt-loading-indicator {
    background: black!important;
}