@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Tamil:wght@100;300;400&display=swap");
body {
  margin: 0;
  padding: 0;
  background: #f1f1f1;
  font-family: "Noto Sans Tamil", sans-serif;
  image-rendering: pixelated;
}
body:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image:url('/public/images/puthiyathalaimurai_import_uploads_news-image_2021_08_09_800x400_127648.png');
  
  /*background-image:url('https://media.assettype.com/puthiyathalaimurai%2Fimport%2Fuploads%2Fnews-image%2F2021%2F08%2F09%2F800x400%2F127648.webp');
  */background-size: cover;
}
button {
  border: 2px solid #adadad;
  border-radius: 4px;
  padding: 8px;
  font-family: "Noto Sans Tamil", sans-serif;
  margin: 8px;
  transition: background 300ms, border-color 300ms;
  background: #d4d4d4;
}
button:hover {
  background: #adadad;
}
button:click {
  background: #353535;
  border-color: #353535;
}

.correct {
  background: #69d360 !important;
  border-color: #2bb632 !important;
}
.wrong {
  background: #df6161 !important;
  border-color: #b62b2b !important;
}

.buttons {
  display: flex;
}
.buttons button {
  height: 50px;
  aspect-ratio: 1;
}

canvas {
  touch-action: none;
}
.correction {
  color: red;
  text-decoration: underline;
  white-space: pre;
}
#cur {
  position: absolute;
  right: 1em;
  font-size: 1.5em;
  bottom:0.5em;
}
h1 {
  font-weight: 300;
}
#lesson {
  font-weight: 500;
  position: absolute;
  text-overflow: clip;
  white-space: nowrap;
  max-width: 80vw;
}
#pages {
  font-size: larger;
  transition: height 300ms;
  overflow-y: auto;
}

.level {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.inner {
  padding: 1em;
  position: relative;
  width: 70vw;
  display: flex;
  background: #fff;
  height: fit-content;
}
@media (max-width: 576px) {
    #cur::before {
        content:"#";
        font-size:0.8em;
    }
    .padam {
        display:none;
    }
    #lesson {
        font-size:1.7em;
    }
    #pages {
        min-height: 10vh;
        max-height: 70vh;
    }
    .inner {
        margin-top: 20%;
    }
}
@media (min-width: 576px) { 
    #cur {
        font-size: 2em;
    }
    .padam {
        display:inline;
    }
    #pages {
        
        min-height: 30vh;
        max-height: 60vh;
    }
    .inner {
        
        margin-top: 10%;
    }
}

#gaming {
  justify-content: center;
  background: none;
}
#sound-header {
  font-size: 5em;
}
#words {
  min-width: 30vw;
}

#words img {
  position: absolute;
  display: block;
  z-index: -100;
  top: 0;
  opacity: 0.3;
}
#to_type {
  font-size: 3em;
}
#input {
  font-size: 2em;
  max-width: stretch;
  
}

#pages-outer {
  justify-content: start;
  flex-direction: column;
  border:#d4d4d4 solid 3px;
  border-radius:8px;
}
.nuxt-loading-indicator {
  background: black !important;
}
